@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 8%);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: hsl(0, 0%, 12%);
  padding: 20px;
  border-radius: 6px;
  color: #fff;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

header img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

header .name {
  font-size: 20px;
  font-weight: 500;
}

header .address {
  color: hsl(75, 94%, 57%);
}

header .job {
  margin: 20px 0;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

li {
  width: 100%;
  background-color: hsl(0, 0%, 20%);
}

li a {
  font-style: normal;
  color: white;
  text-decoration: none;
}
